<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top" style="height: 5rem;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass" ></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link " href="/">Home</a> -->
                <a class="nav-link" href="/listing">Explore</a>
                <a class="nav-link" href="/listing/new">Add new Listing</a> 
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search destinations" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                  </form>
            </div>
            <div class="navbar-nav ms-auto">
                
                <% if(!currUser){ %> 
                    <a class="nav-link" href="/signup"><b>SignUp</b></a>
                    <a class="nav-link" href="/login"><b>Login</b></a>
                <% } %>
                <% if(currUser) {%>
                    
                <a class="nav-link" href="/logout"><b>Logout</b></a>
                <% } %>
            </div>

        </div>
    </div>
</nav>
